.body{
    background-color: rgb(45, 204, 79);
    font-family: monospace;
}

.menu{
    display: flex;
    height: 100px;
    margin: 20px;
    background-color: rgb(128, 80, 32);
    border-radius: 30px;
}

.logo{
    background-color: rgb(59, 57, 54);
    border-radius: 30px;
}

.image{
    width: 140px;
    height: 120px;
}

.navbar{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: large;
    font-family:monospace;
    width: 300px;
}

.n1, .n2, .n3{
    border: 3px;
    border-style:solid;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.n1:hover, .n2:hover, .n3:hover{
    background-color: rgb(218, 161, 88);
    cursor: pointer;
}

.login, .login:link{
    text-decoration: none;
    color: black;
}

.wel1{
    text-align: center;
    font-family: monospace;
}

.login-popup{
    display: none;
}
