.body{
    background-color: rgb(150, 205, 187);
}

.menu{
    display: flex;
    height: 100px;
    margin: 20px;
    background-color: rgb(151, 221, 222);
    border-radius: 30px;
}

.logo{
    background-color: rgb(59, 57, 54);
    border-radius: 30px;
}

.image{
    width: 140px;
    height: 120px;
}

.navbar{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: large;
    font-family:monospace;
    width: 300px;
}

.n1, .n2, .n3{
    border: 3px;
    border-style:solid;
    border-radius: 30px;
    padding: 10px;
}

.wel1{
    text-align: center;
    font-family: monospace;
}

.projects{
    border: 3px;
    border-style: solid;
    border-radius: 20px;
    height: 300px;
}

.proHeader{
    font-family: monospace;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
}

.searchBox{
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    margin-left: auto;
    align-self: center;     /* important */
    padding: 10px;
}